{% include "supplycrate:templates/tablerenderer_genericitem.jinja2" with icon=part.icon id="special" name=part.name first_line=part.first_line second_line=part.second_line extra_pre_line=part.extra_pre_line %}